body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #151C22;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* HEADER */

.header__menu {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__menu * {
    text-decoration: none;
    color: #151C22;
}

.header__menu-list {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.header__menu-item+.header__menu-item {
    margin-left: 35px;
}

.header__menu-logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    justify-self: center;
}

.header__menu-btn-item {
    margin-left: 113px;
}

.header__menu-btn-item+.header__menu-btn-item {
    margin-left: 35px;
}

/* PROMO */

.promo {
    background-color: #F1F2F4;
    margin-bottom: 130px;
}

.promo__inner {
    position: relative;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.promo__next {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.promo-info {
    margin-top: 142px;
}

.promo__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #727A82;
    margin-bottom: 25px;
}

.promo__title {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 193px;
    margin-bottom: 50px;
}

.btn {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 27px 24px;
    background-color: #151C22;
}

.promo__img-container {
    position: relative;
    z-index: 0;
}

.promo__img-container::before,
.promo__img-container::after {
    position: absolute;
    content: "";
    width: 232px;
    height: 176px;
    z-index: -1;
    background-image: url(../img/decor.svg);
}

.promo__img-container::before {
    top: -50px;
    left: -50px;
}

.promo__img-container::after {
    transform: scaleX(-1);
    bottom: -50px;
    right: -50px;
}

/* BESTSELLERS */

.bestsellers {
    margin-bottom: 108px;
}

.category-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-right: auto;
}

.more-link {
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #151C22;
    border-bottom: 2px solid #151C22;
}

.bestsellers__list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.bestsellers__item {
    display: flex;
    flex-direction: column;
}

.bestsellers__item-img {
    order: -1;
    margin-bottom: 25px;
    width: 270px;
    height: 349px;
}

.bestsellers__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
}

.bestsellers__item-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/* NEWS */

.news__inner {
    margin-top: 71px;
    margin-bottom: 143px;
    display: flex;
}

.news__img {
    align-self: baseline;
}

.news__info {
    position: relative;
    max-width: 400px;
    margin: 31px 70px 34px 0;
    padding: 52px 0 28px 43px;
    background-color: #F1F2F4;
}

.news__info::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 470px;
    height: 462px;
    top: -31px;
    left: 0;
    background-image: url(../img/decor.svg);
    background-size: cover;
}

.news__info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 27px;
}

.news__info-date {
    display: inline-block;
    color: #000;
    margin-bottom: 13px;
}

.news__info-text {
    max-width: 310px;
    text-overflow: ellipsis;
    color: #727A82;
    margin-bottom: 24px;
}

.news__info-btn {
    display: inline-block;
    padding: 27px 45px;
}

/* CATEGORY */